/* profile.css */
.detail-main {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    z-index: 2;
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
  }
  
  .details-profile {
    position: relative;
    visibility: visible;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    z-index: 3;
  }
  
  .details-profile h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .details-profile span {
    display: block; /* Display name and email on separate lines */
    font-size: 18px;
    margin: 10px 0;
    color: white; /* Adjust the text color to make it visible */
  }
  
  .card-following{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .card-following span{
    color: white;
  }

  .followed{
    color: white;
    z-index: 4;
    position: relative;
    text-align: center;
  }