.app__video {
    position: relative;
    height: 100vh;
  }
  
  .app__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .app__video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  
  .app__location-icon {
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 120px;
    border: 2px solid rgba(255, 255, 255, 0.345);
    border-radius: 50%;
    padding: 15px;
  }
  
  .app__restaurant-info {
    position: absolute;
    color: white;
    bottom: 50px;
  }
  
  .app__restaurant-info h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .app__restaurant-info p {
    margin: 0;
  }
  
  /* Style your location icon and restaurant info as needed */
  