

.appfeature-container {
    display: flex;
    height: 100vh;
    z-index: 2;
    margin-top: 5rem;
  }
  
  .slideshow-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  
  .slideshow {
    position: absolute;
    top: 4rem;
    left: 6rem;
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: zoom-in-out 10s infinite;
    animation-fill-mode: both; 
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    z-index: 2;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide img {
    width: 90%;
    height: 90%;
  
  }
  
  @keyframes zoom-in-out {
    0%, 100% {
      transform: scale(0.9); 
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .app-features {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: transparent;
    text-align: center;
    color: #fff;
    z-index: 2;
  }
  
  .app-features h2 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
  }
  
  .app-features ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    z-index: 2;
  }
  
  .app-features li {
    margin-bottom: 35px;
    font-size: 20px;
    z-index: 2;
  }
  
  .tick-mark {
    margin-right: 10px;
    font-size: 18px;
    color: #fffd93;
    z-index: 2;
  }
  
  .download-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f8f8f8;
    background-color: var(--main-text-green);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2;
  }
  
  .download-button:hover {
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
  }
  
  @media screen and (max-width: 1000px) {
    .slideshow {
      position:absolute;
      animation: zoom-in-out 10s infinite;
      width: 90%;
      height: 60%; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
    }
    .slideshow-container {
      display: none;
    }
  
    .app-features {
      padding: 20px;
    }
    @keyframes zoom-in-out {
      0%, 100% {
        transform: scale(0.9);
      }
      50% {
        transform: scale(1.1);
      }
    }
  
    .app-features h2 {
      font-size: 28px;
    }
  
    .app-features li {
      font-size: 18px;
    }
  }
  
  