.text{
    padding:40px;
    background:#eee;
    
}

.text h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding:10px;
}

.banner-container {
    display: flex;
    width: 80%;
    max-width: 80%; /* Added max-width to limit it to 80% */
    
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Add margin: 0 auto; for horizontal centering */
}


.banner-container .banner{
    background:linear-gradient(-55deg, #fff3f3 29%, #333232 29.1%, #080808 68%, #534f4f 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
    z-index: 2;
}

.banner-container .banner .shoe{
    flex:1 1 200px;
    padding:15px;
    text-align: center;
}

.banner-container .banner .shoe img{
    width:80%;
}

.banner-container .banner .content{
    flex:1 1 200px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}

.banner-container .banner .content span{
    color:#eee;
    font-size: 25px;
}

.banner-container .banner .content h3{
    color:#fff;
    font-size: 40px;
}

.banner-container .banner .content p{
    color:#eee;
    font-size: 20px;
    padding:10px 0;
}

.banner-container .banner .content .btn_offer{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #ffffff;
    color:#000000;
    margin:5px auto;
    text-decoration: none;
    border-radius: 5px;
}

.banner-container .banner .women{
    position: relative;
    bottom: 0px;
    padding:10px;
    flex:1 1 250px;
}

.banner-container .banner .women img{
    width:50%;
}

@media (max-width:768px){
    .banner-container .banner .women{
        display: none;
    }
}